body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  padding: 0 1em;
  margin: 0 auto;
  flex: 1 1 auto;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: hsl(0, 0%, 4%);
  color: hsl(0, 0%, 60%);
  gap: .5em;
  padding: 1em;
}